<html>
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-app="dash" >
<div class="container"><br><br><br>
<div ng-controller="dashBoard as boards">
  <table class="table">
	<tr class="row">
		<div class="col col-md-6">
			<label>Search:</label>
			<input type="search" ng-model="boards.q" placeholder="Search" >
		</div>
		<div class="col col-md-6 pull-right" >
			<label>Show:</label>
			<select ng-model="boards.pageSize" >
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="40">40</option>
				<option value="60">60</option>
			</select>
		</div>
	</tr>
    <tr>
      <th>
        <button class="btn btn-primary" ng-click="boards.sortBy('email')">Email</button>
        <span class="sortorder" ng-show="boards.propertyName === 'email' && boards.reverse===true " class="glyphicon glyphicon-arrow-up" ></span>
      </th>
      <th>
        <button class="btn btn-primary" ng-click="boards.sortBy('access_token')">Access Token</button>
        <span class="sortorder" ng-show="boards.propertyName === 'access_token'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <button class="btn btn-primary" ng-click="boards.sortBy('password')">Password</button>
        <span class="sortorder" ng-show="boards.propertyName === 'password'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <button class="btn btn-primary" ng-click="boards.sortBy('user_name')">Username</button>
        <span class="sortorder" ng-show="boards.propertyName === 'user_name'" ng-class="{reverse: reverse}"></span>
      </th>
    </tr>
    <tr ng-repeat="friend in boards.credentials | orderBy:boards.propertyName:boards.reverse | filter : boards.q |  limitTo:boards.pageSize ">
      <td>{{friend.email}}</td>
      <td>{{friend.access_token}}</td>
      <td>{{friend.password}}</td>
      <td>{{friend.user_name}}</td>
    </tr>
	<tr>


  		<!--<button ng-disabled="boards.currentPage == 0" ng-click="boards.currentPage=boards.currentPage-1">
        	Previous
    	</button> {{boards.currentPage+1}}/{{boards.numberOfPages()}}
  		<button ng-disabled="boards.currentPage >= boards.getData().length/boards.pageSize - 1" ng-click="boards.currentPage=boards.currentPage+1">
        	Next
    	</button>-->


	</tr>
  </table>
</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="dash.js"></script>
</div>
</body>
</html>