<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body ng-app="userLogin">
<div class="container"><br><br><br>
	<form name="viewForm" method="POST" ng-controller="userValidate as usr" ng-submit="viewForm.$valid && usr.register()">
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" required id="email" ng-model="usr.email" class="form-control" placeholder="Enter your email" name="email">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input ng-model="usr.pwd" type="password" required id="pwd" class="form-control" placeholder="Enter your password" name="pwd">
		</div>
		<input type="submit" value="Login" name="sbt" id="sbt" class="btn btn-lg btn-primary btn-block">
	</form>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</div>
</body>
</html>